.average-rating-number {
    font-size: 42px;
    color: green;
}


.average-rating-number-banner {
    font-size: 32px;
    font-weight: bold;
}

.average-rating-text {
    font-size: 36px;
    color: gold;
}

#banner-rating-icon {
    color: gold;
    font-size: 32px;
    outline: white;
}

.cat-trail-card {
    cursor: pointer;
}

.cover-photo-container {
    height: 400px;
    justify-content: center;
    background-color: beige;
}

.create-review-button-container {
    display: flex;
    align-items: center;
}

.create-review-button{
    width: 20px;
    height: 50px;
    border: none;
    width: 100%;
    text-align: center;
    background: #028858;
    color: white;
    padding: 10px;
    margin-bottom: 70px;
    cursor: pointer;
}

.detail-page-container {
    width: 97%;
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.detail-stats-res {
    font-size: 22px;
    font-weight: bolder;
    color: #028858;
}

.detail-page-description {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 20px;
}

.detail-banner-text {
   position: absolute;
   top: 270px;
   left: 1%;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
   font-weight: lighter;
}

.detail-stats-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top: 10px;
    background-color: beige;

}

.detail-stats {
    width: 25%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;


}

.fa-bookmark {

    color: gold;
    font-size: 60px;
}

.favorite-button {
    border: none;
    background: none;
    cursor: pointer;

}

.favorite-button-container {
   position: absolute;
   top: 150px;
   left: 92%;

}

.individual-review {
    font-size: 18px;
    background-color: rgb(244, 241, 241);
}

.individual-review-star {
    color: gold;
    font-size: 20px;
}

.open-review-modal-button {
    margin-left: 75px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: #028858;
    color: white;
}

.park-name-h2 {
    text-decoration: underline;
}

.parent-container {
    background-color: rgb(244, 241, 241);
}

.review-area {
    margin-bottom: 10px;
    margin-left: -30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(244, 241, 241);
}

.reviews-ul {
    list-style: none;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}

.review-totals-container {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(244, 241, 241);
    display: flex;
    flex-direction: row;
}

.related-trails-container {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 5;
    grid-column-end: 7;
    margin-left: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-rows: 4fr;
    grid-template-columns: auto;
}

.related-trails-cards {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 20px;
    padding-left: 40px;
    width: 80%;
}

.trail-card-img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 400px;
    filter: brightness(80%);
}


.trail-detail-subheader-container {
    height: 50px;
    background-color: rgb(244, 241, 241);

}

.trail-detail-subheader-text {
    margin-left: 30px;
    padding-top: 15px;
}
