.category-trail-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    /* align-items: center; */
    justify-content: space-around;
}

.trail-card-img {
    width: 100%;
    height: 400px;
    /* border-radius: 10%; */
    object-fit: cover;
    /* border: 1px solid black; */
}
