* {
    font-family: Arial, Helvetica, sans-serif;
}

.all-trails-h1 {
    text-align: center;
    padding-left: 40px;
    /* padding-top: 20px; */
}

.all-trails-h1-container {
    border: 1px solid lightgray;
    /* background-color: beige;
    color: #32690f; */
    margin-top: 20px;
}

.collections-h1-container {
    border: 1px solid lightgray;
    background-color: #32690f;
    color: aliceblue;
    margin-bottom: 20px;
}

.popular-collections-h1 {
    text-align: center;
    padding-left: 40px;
    /* padding-top: 20px; */
}

.browse-by-activity {
    margin-left: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.categories-container {
    background-color: beige;
    height: 400px;
    padding-top: 10px;
}

.cat-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cat-pics-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: black;
}

.cat-pics-navlink {
    text-decoration: none;
}

.cat-pics:hover {
    transform: scale(1.02)
}

.cat-pics {
    border-radius: 100%;
}

.trail-card {
    width: 25%;
    padding: 10px;
    padding-bottom: 40px;
    height: 250px;
    cursor: pointer;
    margin: 5px;
}

.trail-card:hover {
    transform: scale(1.01)
}

.trail-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.landing-trail-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.landing-collection-container {
    display: flex;
}

.trail-card-img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: wrap;

}

.trail-name {
    font-weight: bolder;
    padding-bottom: 4px;
    padding-top: 5px;
}

.park-name {
    text-decoration: underline;
}
