
.hidden {
  display: none;
}

.logo {
  width: 180px;
  height: 35px;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid black;
  list-style: none;
}


.profile-dropdown {
  position: absolute;
}
